:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #d0d8dc;
  background-color: #0f1c22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  color: #e8f0f4;
  text-align: center;
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
}